@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

header {

}

.header-content {
	width: 1350px;
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(150, 255, 150, 0.87);
}

.header-content .logo a {
	font-family: 'Gruppo';
	font-size: 36px;
	color: rgba(255, 255, 255, 0.87);
}

