nav ul {
	margin: 0;
	padding: 0;
}

nav > ul {
	padding-top: 10px;
}
nav > ul > li {
	display: inline-block;
	position: relative;
	width: 100px;
	text-align: center;
}
nav .subitems li {
	display: block;
	margin: 10px;
	width: 180px;
	text-align: center;
}

nav li {
	font-size: 24px;
	margin: 5px 7px 5px 7px;
}

nav li a {
	color: rgba(255, 255, 255, 0.87);
}
nav li a.active {
	color: rgba(150, 255, 150, 0.87);
}

nav li a:hover {
	color: rgba(150, 255, 150, 0.87);
	text-decoration: underline;
}

.subitems {
	background-color: rgba(150, 255, 150, 0.47);
	position: absolute;
	top: calc(100% + 6px);
	left: -55px;
}

nav ul svg {
    width: 18px;
    position: relative;
    top: 0.15em;
}